# local
.local

# emacs
auto-save-list
eln-cache/

# backup
*.*~

# package
elpa

# org-drill
persist

# curl
request

# custom
custom.el

# gnus
network-security.data

# treesit
tree-sitter/

# flycheck
flycheck_*

# ai
.aider*
.chatgpt-shell.el
/.agent-shell/

# local history
history
