# local
.local

# emacs
auto-save-list
tramp
eln-cache/
server/

# backup
*.*~

# package
elpa

# org-drill
persist

# curl
request

# custom
custom.el

# gnus
network-security.data

# treesit
tree-sitter/